
QLineEdit {
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid;
    border-radius: 8px;
}


QLineEdit::placeholder {
    font-style: italic;
     border: 2px solid rgb(0, 0, 0); 
     cursor: pointing-hand;  
}

QPushButton {
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 10px;        /* colțuri rotunjite */
    border: 2px solid;          /* folosește culoarea implicită a sistemului */
    background-color: transparent;  /* nu forțăm fundal */
    min-width: 120px;            /* lățime minimă */
    transition: all 0.2s ease;
}

QPushButton:hover {
    border: 2px solid rgb(50, 128, 142);   
    border-width: 3px;           /* accentuează border-ul la hover */
    transform: scale(1.05);  
    cursor: pointing-hand;       
}

QPushButton:pressed {
    background-color:  rgba(50, 128, 142, 0.507);
    border-width: 3px;  
    transform: scale(0.95);       
}


QLabel {
    font-size: 16px;
    background-color: transparent;  
    padding: 4px;
}


#normal {
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 10px;        /* colțuri rotunjite */
    border: 2px solid;          /* folosește culoarea implicită a sistemului */
    background-color: transparent;  /* nu forțăm fundal */
    min-width: 120px;            /* lățime minimă */
    transition: all 0.2s ease;   /* animație la hover/pressed */
}


#normal:hover {
     cursor: pointing-hand;  
    border: 2px solid rgb(50, 128, 142);   
    border-width: 3px;           /* accentuează border-ul la hover */
    transform: scale(1.05);
    
       
}
;

#normal:pressed {
    background-color:  rgba(50, 128, 142, 0.484);
    border-width: 3px; 
    transform: scale(0.95);      /* efect de apăsare */
}

